Config
    {
    font = "Terminus bold 10"
    , bgColor = "black"
    , fgColor = "grey"
    , position = TopSize L 100 22
    , allDesktops = True
    , persistent = False
    , commands = [
        Run StdinReader

        , Run Cpu
            [ "-L", "20"
            , "-H", "70"
            , "--normal", "green"
            , "--high", "red"
            ] 10

        , Run Memory
            [ "-t" ,"Mem: <usedratio>%"
            ] 10

        , Run Battery
            [ "-t", "Bat: <acstatus>"
            , "-L", "20"
            , "-H", "40"
            , "-h", "green"
            , "-n", "yellow"
            , "-l", "red"
            , "--"
            , "-o", "<left>% (<timeleft>)"
            , "-O", "AC <left>%"
            , "-i", "FULL"
            ] 10

        , Run MultiCoreTemp
            [ "-t", "Tmp: <avg>C"
            , "-L", "20"
            , "-H", "85"
            , "-n", "green"
            , "-h", "red"
            , "--"
            , "--mintemp", "20"
            , "--maxtemp", "100"
            ] 50

        , Run Date "%a %b %_d %l:%M" "date" 10

        , Run DiskU
            [ ("/", "Disk: <used>/<size>") ]
            [ "-L", "70"
            , "-H", "90"
            , "-n", "yellow"
            , "-h", "red"
            ] 20
    ]
    , sepChar = "%"
    , alignSep = "}{"
    , template = "%StdinReader% }{ | %cpu% | %memory% | %battery% | %multicoretemp% | %disku% | %date%"
}
