[Desktop Entry]
Type=Application
Name=Xmonad
Comment=Lightweight X11 tiled window manager written in Haskell
Icon=xmonad
Terminal=false
StartupNotify=false
