#!/bin/sh

setxkbmap -layout jp

export GTK_IM_MODULE=ibus
export XMODIFIERS=@im=ibus
export QT_IM_MODULE=ibus
export DefaltIMModule=ibus
ibus-daemon -drx

[[ -f ~/.Xresources ]] && xrdb -merge ~/.Xresources &

[[ -f ~/.fehbg ]] && sh ~/.fehbg &

trayer --edge top --align right --widthtype percent --heighttype pixel --SetDockType true --SetPartialStrut false --expand false --width 5 --height 20 --transparent true --alpha 0 --tint 0x000000 &

#vidalia &

#google-chrome-stable --no-startup-window &

VBoxClient-all &

nm-applet &
