Config {
  font = "Terminus bold 10"
  , bgColor = "black"
  , fgColor = "grey"
  , position = TopSize L 100 22
  , allDesktops = True
  , persistent = False
  , commands = [

  Run Cpu              [ "-L", "20"
  , "-H", "70"
  , "--normal", "green"
  , "--high", "red"
  ] 10

  , Run Memory         [ "-t" ,"Mem: <usedratio>%"
  ] 10

  , Run Battery        [ "-t", "Bat: <acstatus>"
  , "-L", "20"
  , "-H", "40"
  , "-h", "green"
  , "-n", "yellow"
  , "-l", "red"
  , "--"
    , "-o", "<left>% (<timeleft>)"
    , "-O", "AC <left>%"
    , "-i", "FULL"
  ] 10

  , Run Date "%a %b %_d %l:%M" "date" 10

  , Run StdinReader
  ]
  , sepChar = "%"
  , alignSep = "}{"
  , template = "%StdinReader% }{ | %cpu% | %memory% | %battery% | <fc=#ee9a00>%date%</fc>"
}
