[Unit]
Description=tmux default session (detached)
Documentation=man:tmux(1)

[Service]
#Type=forking
Type=oneshot
RemainAfterExit=yes
Environment=DISPLAY=:0
#ExecStart=/usr/bin/tmux new-session -d

#ExecStop=/home/clock/.tmux/plugins/tmux-resurrect/scripts/save.sh # disabled by editing systemd_enable.sh.
ExecStop=/usr/bin/tmux kill-server
KillMode=none

RestartSec=2

[Install]
WantedBy=default.target
