#!/bin/sh

export XDG_CURRENT_DESKTOP=GNOME

export GTK_IM_MODULE=fcitx
export XMODIFIERS=@im=fcitx
export QT_IM_MODULE=fcitx
export DefaltIMModule=fcitx
export SDL_IM_MODULE=fcitx
fcitx5 &

xmodmap -e "remove lock = Caps_Lock"

[[ -f ~/.Xresources ]] && xrdb -merge ~/.Xresources &

trayer --edge top --align right --widthtype percent --heighttype pixel --SetDockType true --SetPartialStrut false --expand false --width 8 --height 23 --transparent true --alpha 0 --tint 0x000000 --monitor primary &

VBoxClient-all &

xcmpmgr -c &

/usr/bin/lxqt-policykit-agent &

nm-applet &

/usr/bin/start-pulseaudio-x11
volctl &

autokey-gtk &

remmina -i &

blueman-applet &

light-locker &

